* {
  padding: 0;
  margin: 0;
}

header {
  height: 100vh;
  background: linear-gradient(rgb(22, 5, 182) 0%, rgb(143, 212, 248) 100%);
}

#logo {
  padding: 40px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("/image/TIMER-27-07-2024.png");
}

#container {
  background-color: linear-gradient(rgb(22, 5, 182) 0%, rgb(143, 212, 248) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#times {
  text-align: center;
  height: 50px;
  border: 5px solid black;
  border-radius: 10px;
  font-size: 25px;
}

#plus {
  width: 50px;
  height: 50px;
  left: 50px;
  border: 5px solid yellow;
  background-color: green;
  border-radius: 5px;
}

#timer {
  height: 305px;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 70px;
  height: 180px;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 70px;
  flex-direction: row;
}

#minus {
  width: 50px;
  height: 50px;
  left: 50px;
  border: 5px solid yellow;
  background-color: red;
  border-radius: 5px;
}

#start {
  font-size: 50px;
  border: 5px solid red;
  border-radius: 10px;
  background-color: green;
}

#running-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: 305px;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 70px;
  height: 205px;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 70px;
}

#stop {
  font-size: 50px;
  border: 5px solid green;
  border-radius: 10px;
  background-color: red;
}

#end-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  height: 305px;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 70px;
  height: 205px;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 70px;
}

#btn-end-timer {
  font-size: 50px;
  border: 5px solid green;
  border-radius: 10px;
  background-color: red;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }

#zero {
    animation: blink 1s infinite;
}
